<ion-header [translucent]="true">
  <app-detail-toolbar [page]="this" (refresh)="refreshData()" (delete)="deleteData()"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <div id="detail-page" style="position: absolute;"></div>
  <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
    <ion-grid fixed>
      <ion-row class="hr-group">
        <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
          <ion-list-header class="ion-no-padding">
            <ion-label color="primary">{{'Flat'}}</ion-label>
          </ion-list-header>
        </ion-col>
        <ion-col size="12" size-sm size-xl="4">
          <div class="c-control">
            <label class="c-label">Full Name<span><small>Id: {{item?.id}}</small></span></label>
            <input readonly class="c-input" [(ngModel)]="item.fullname" type="text">
          </div>
        </ion-col>
        <ion-col size="12" size-sm size-xl="4">
          <div class="c-control">
            <label class="c-label">Phone Number</label>
            <input readonly class="c-input" [(ngModel)]="item.phonenumber" type="text">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="row-full shadow full-screen">
      <ion-toolbar color="primary">
        <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
          <ion-segment-button value="s1">
            <ion-label>{{'General Detail'}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="s2">
            <ion-label>{{'Other information'}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>


      <!-- General information -->
      <div *ngIf="segmentView == 's1'">
        <ion-grid fixed>
          <form [formGroup]="formGroup">

            <ion-row class="hr-group">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">General</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">

                <div class="c-control">
                  <label class="c-label" for="firstname">First Name
                    <span
                      *ngIf="!formGroup.controls.firstname.valid && !formGroup.controls.firstname.pending && (formGroup.controls.firstname.dirty || submitAttempt)"
                      ion-text color="danger">(*)</span>
                  </label>
                  <input class="c-input" (blur)="saveData($event)" formControlName="firstname" type="text">
                </div>

                <div class="c-control">
                  <label class="c-label" for="lastname">Last Name
                    <span
                      *ngIf="!formGroup.controls.lastname.valid && !formGroup.controls.lastname.pending && (formGroup.controls.lastname.dirty || submitAttempt)"
                      ion-text color="danger">(*)</span>
                  </label>
                  <input class="c-input" (blur)="saveData($event)" formControlName="lastname" type="text">
                </div>

                <div class="c-control">
                  <label class="c-label">Phone Number</label>
                  <span
                    *ngIf="!formGroup.controls.phonenumber.valid && !formGroup.controls.phonenumber.pending && (formGroup.controls.phonenumber.dirty || submitAttempt)"
                    ion-text color="danger">(*)</span>
                  <input class="c-input" (blur)="saveData($event)" formControlName="phonenumber" type="text">
                </div>

                <div class="c-control">
                  <label class="c-label" for="code">Code
                    <span
                      *ngIf="!formGroup.controls.code.valid && !formGroup.controls.code.pending && (formGroup.controls.code.dirty || submitAttempt)"
                      ion-text color="danger">(*)</span>
                  </label>
                  <ng-select (change)="saveData($event)" class="c-input" #code formControlName="code"
                    labelForId="code" [items]="CodeList" bindLabel="Name" bindValue="Code" placeholder="code">
                  </ng-select>
                </div>

              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <div class="c-control">
                  <label class="c-label">Remark</label>
                  <span
                    *ngIf="!formGroup.controls.remark.valid && !formGroup.controls.remark.pending && (formGroup.controls.remark.dirty || submitAttempt)"
                    ion-text color="danger">(*)</span>
                  <textarea type="textarea" class="c-input remark" placeholder="Ghi chú" (blur)="saveData($event)" formControlName="remark" rows="3"></textarea>
                </div>

                <div class="c-control">
                  <span class="no-warp">
                    <input (change)="saveData($event)" class="c-checkbox" id="isvendor" formControlName="isvendor"
                      type="checkbox">
                    <label class="c-label checkbox" for="isvendor">Vendor
                      <span
                        *ngIf="!formGroup.controls.isvendor.valid && !formGroup.controls.isvendor.pending && (formGroup.controls.isvendor.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                    </label>
                  </span>
                </div>

                <div class="c-control">
                  <span class="no-warp">
                    <input (change)="saveData($event)" class="c-checkbox" id="iscustomer" formControlName="iscustomer"
                      type="checkbox">
                    <label class="c-label checkbox" for="iscustomer">Customer
                      <span
                        *ngIf="!formGroup.controls.iscustomer.valid && !formGroup.controls.iscustomer.pending && (formGroup.controls.iscustomer.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                    </label>
                  </span>
                </div>

                <div class="c-control">
                  <span class="no-warp">
                    <input (change)="saveData($event)" class="c-checkbox" id="isstaff" formControlName="isstaff"
                      type="checkbox">
                    <label class="c-label checkbox" for="isstaff">Staff
                      <span
                        *ngIf="!formGroup.controls.isstaff.valid && !formGroup.controls.isstaff.pending && (formGroup.controls.isstaff.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                    </label>
                  </span>
                </div>

              </ion-col>
            </ion-row>

          </form>
        </ion-grid>
      </div>

      <!-- Other information -->
      <div *ngIf="segmentView == 's2'">
        <ion-grid fixed>
          <form [formGroup]="formGroup">
            <ion-row class="hr-group">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">Others</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">

                <div class="c-control">
                  <label class="c-label" for="createddate">Created Date
                    <span
                      *ngIf="!formGroup.controls.createddate.valid && !formGroup.controls.createddate.pending && (formGroup.controls.createddate.dirty || submitAttempt)"
                      ion-text color="danger">(*)</span>
                  </label>
                  <input readonly class="c-input" formControlName="createddate" type="text">
                </div>

              </ion-col>
              <ion-col size="12" size-sm size-xl="4">

                <div class="c-control">
                  <label class="c-label" for="modifieddate">Modified Date
                    <span
                      *ngIf="!formGroup.controls.modifieddate.valid && !formGroup.controls.modifieddate.pending && (formGroup.controls.modifieddate.dirty || submitAttempt)"
                      ion-text color="danger">(*)</span>
                  </label>
                  <input readonly class="c-input" formControlName="modifieddate" type="text">
                </div>

              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>