<ion-header [translucent]="true">
	<app-list-toolbar pageTitle="item" [pageConfig]="pageConfig" [selectedItems]="selectedItems"
		(add)="add()" (refresh)="refresh()" (unselect)="unselect()" (deleteItems)="deleteData()"></app-list-toolbar>
</ion-header>


<ion-content appScrollbarTheme class="scrollx">


	<section class="table responsive">
		<section class="table responsive">
			<header class="bold">
				<div class="col-checkbox cell"></div>
				<div class="col-id cell" (click)="sortToggle('id')">
					Id
					<ion-icon class="min-btn" *ngIf="sort.id" [name]="sort.id == 'id'?'arrow-down': 'arrow-up'"></ion-icon>
				</div>

				<div class="col-name cell" (click)="sortToggle('name')">
					Name
					<ion-icon class="min-btn" *ngIf="sort.name" [name]="sort.name == 'name'?'arrow-down': 'arrow-up'"></ion-icon>
				</div>

				<div class="col-name cell" (click)="sortToggle('code')">
					Code
					<ion-icon class="min-btn" *ngIf="sort.code" [name]="sort.code == 'code'?'arrow-down': 'arrow-up'"></ion-icon>
				</div>

				<div class="col-name cell" (click)="sortToggle('uom')">
					UoM
					<ion-icon class="min-btn" *ngIf="sort.uom" [name]="sort.uom == 'uom'?'arrow-down': 'arrow-up'"></ion-icon>
				</div>

				<div class="col-remark cell" (click)="sortToggle('price')">
					Price
					<ion-icon class="min-btn" *ngIf="sort.price" [name]="sort.price == 'price'?'arrow-down': 'arrow-up'"></ion-icon>
				</div>
			</header>
			<form (submit)="refresh()" action="#">
				<header class="filter" *ngIf="pageConfig.isShowSearch">
					<div class="col-checkbox cell"></div>
					<div class="col-id cell">
						<input placeholder="Id" class="c-input" type="text">
						<ion-icon class="min-btn" name="close-circle-outline"></ion-icon>
					</div>

					<div class="col-name cell">
						<input placeholder="Name" class="c-input" type="text">
						<ion-icon class="min-btn" name="close-circle-outline"></ion-icon>
					</div>

					<div class="col-name cell">
						<input placeholder="Code" class="c-input" type="text">
						<ion-icon class="min-btn" name="close-circle-outline"></ion-icon>
					</div>

					<div class="col-name cell">
						<input placeholder="UoM" class="c-input" type="text">
						<ion-icon class="min-btn" name="close-circle-outline"></ion-icon>
					</div>

					<div class="col-name cell">
						<input placeholder="Price" class="c-input" type="text">
						<ion-icon class="min-btn" name="close-circle-outline"></ion-icon>
					</div>
					<button mat-raised-button type="submit" style="display:none">Search</button>
				</header>
			</form>
		</section>

		<ng-container *ngIf="items">
			<div *ngFor="let i of items; let j = index;" class="row" [ngClass]="{odd: j % 2 != 0}">
				<div class="col-checkbox cell">
					<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked"
						type="checkbox">
				</div>
				<div class="col-id cell">
					<a [routerLink]="['/item/'+i.id]">{{i.id}}</a>
				</div>
				<div (click)="showItem(i)" class="col-name cell">
					{{i.name}}
				</div>
				<div (click)="showItem(i)" class="col-name cell">
					{{i.code}}
				</div>
				<div (click)="showItem(i)" class="col-name cell">
					{{i.uom}}
				</div>
				<div (click)="showItem(i)" class="col-remark cell">
					{{i.price}}
				</div>
			</div>
		</ng-container>

	</section>
</ion-content>